@import "variables.scss";
.header {
  height: 100px;

  .container {
    @extend %container;
    width: 100%;
  }

  .img-wrapper {
    width: 84px;
  }

  img {
    width: 100%;
  }

  .hamburger {
    width: 20px;
    height: 30px;
    position: relative;

    span {
      @extend %span;
      top: 12px;
      left: 0;

      &::before {
        @extend %span;
        content: "";
        top: -6px;
        left: 0;
      }

      &::after {
        @extend %span;
        content: "";
        top: 6px;
        left: 0;
      }
    }
  }
}
