@import "variables.scss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
}

.flex {
  display: flex;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.direction-column {
  flex-direction: column;
}
